body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #272932;
	font-family: sans-serif;
}
.mainContainer{
	position: absolute;
	top: 5%;
	width: 93%;
	left: 7%;
	right: 7%;
	bottom: 10%;
}
.teamtext{
	fill: white;
	font-size: 14px;
}
.teamNumber{
	fill: white;
	font-size: 14px;	
}