body{
	background: url("https://farm3.staticflickr.com/2550/3754859740_3872140b02_b.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	 background-size:cover;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 15px sans-serif;
	text-align: left;
	fill: #F4D03F;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

body ul{
	list-style: none;
	position: absolute;
    top: 10px;
    padding-right: 10px;
    background-color: #f1e6a3;
    border-radius: 10px;
    left: 40px;
}

body li{
	font-size: 14px;
	padding: 6px;
	border-radius: 3px;
	margin: 15px 0;
	background-color: white;
	font-family: sans-serif;
	margin-left: -20px;
}