body{
	background: url("bg.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	 background-size:cover;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 10px sans-serif;
	text-align: left;
	fill: white;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

body ul{
	position: absolute;
    top: 40px;
}

body li{
	font-size: 14px;
	margin: 20px 0;
}